.git
.github/
.gitignore
.dockerignore
Dockerfile*

.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store
Thumbs.db

.mvn/
mvnw
mvnw.cmd
target/
surefire-reports/

node_modules/

*.env
.env*
variables.env*
!variables.env-template

compose*.yml
docker-compose*.yml
README*
HELP.md
*.log
*.tmp
*.swp
*.pem
*.key

src/test/
